<app-header></app-header>
<body class="drawer drawer--left">
    <div id="wrapper_setup">
        <section id="inner_cont" class="setsubcont">
            <div class="container">
                <div class="row" style="text-align:center">
                    <h2><b>About Us</b></h2>
                    <div class="col-md-12 mt-40">
                        <div class="col-md-4 mt-40">
                            <img src="../../assets/images/aboutus.jpeg" height="280" width="320">
                        </div>
                        <div class="col-md-8 mt-40">
                            <div class="table-responsive">
                                <p class="para-text" [textContent]="aboutUs"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<app-footer></app-footer>