<app-header></app-header>
<div id="wrapper_setup">
    <section id="inner_cont" class="setsubcont">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-40">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" style="font-size:16px">
                            <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Course Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let course of coursesOfferedList let i='index' last as lastOne"
                                    id="course{{i}}">
                                    <td>{{i+1}}</td>
                                    <td>{{course.courseName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>