<app-header></app-header>
<section>
    <div class="col-md-12 pad-0">
        <div id="home-slider" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slider1">
                    <img src="../../assets/images/1.jpg" alt="">
                    <div class="carousel-caption slider-con">
                        <h2>Welcome to <span>Our Website</span></h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form</p>
                        <a href="#" class="bann-btn-1">All Courses</a><a href="#" class="bann-btn-2">Read More</a>
                    </div>
                </div>
                <div class="item active">
                    <img src="../../assets/images/2.jpg" alt="">
                    <div class="carousel-caption slider-con">
                        <h2>Courses Offered In <span>2019</span></h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form</p>
                        <a href="#" class="bann-btn-1">Admission</a><a href="#" class="bann-btn-2">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#home-slider" data-slide="prev">
                <i class="fa fa-chevron-left slider-arr"></i>
            </a>
            <a class="right carousel-control" href="#home-slider" data-slide="next">
                <i class="fa fa-chevron-right slider-arr"></i>
            </a>
        </div>
    </div>
    <!-- <div class="col-md-4 pad-0">
    </div> -->
</section>
<!-- stp1 end -->

<div class="container">
    <div class="col-md-12">
        <div class="flash-news-div">
            <div class="flash-news-heading">
                <h2>Flash News</h2>
            </div>
            <div class="flash-news">
                <marquee behavior="scroll" direction="left">SI OF POLICE-MAINS SPECIAL CLASSES AND
                    EXPLANATIONS(REVISED) </marquee>
            </div>
        </div>
    </div>
    <div class="col-md-8 para-div">
        <h2 class="title">Welcome to Our Website</h2>
        <p class="para-text">Our College for Competitive Exams have been giving coaching for BANK CLERKS, POs, RRB,
            LIC for last 17 years. Every year our students get Jobs in every competitive exam. We give quality
            education to the students providing excellent study materials, well experienced faculty and with a
            planned curriculum. We have a good library with a number of books on all subjects and number of
            Competitive Magazines.We pay special attention on the poor and rural background students. Free Campus
            Recruitment Training programmes (CRT) have been successfully exercised and some of our students have
            already been selected for different companies in AP. We have a good library with a number of books on
            all subjects and number of Competitive Magazines.</p>
    </div>
    <div class="col-md-4">
        <div class="request-info-div">
            <div class="request-information">
                <h4 class="widget-title">Request Information</h4>
                <form class="request-info clearfix">


                    <div class="full-row">
                        <label for="cat2">Program of Interest:</label>
                        <div class="input-select">
                            <select class="form-control">
                                <option>Select</option>
                                <option>Select 1</option>
                                <option>Select 2</option>
                                <option>Select 3</option>
                                <option>Select 4 </option>
                                <option>Select 5</option>
                            </select>
                        </div> <!-- /.input-select -->
                    </div> <!-- /.full-row -->

                    <div class="full-row">
                        <label for="yourname">Full Name:</label>
                        <input type="text" class="form-control">
                    </div> <!-- /.full-row -->

                    <div class="full-row">
                        <label for="email-id">Email Address:</label>
                        <input type="text" class="form-control">
                    </div> <!-- /.full-row -->

                    <div class="full-row" style="margin-bottom: 0px">
                        <div class="submit_field">
                            <input class="btn btn-primary btn-block" type="submit" name="" value="Submit Request">
                        </div> <!-- /.submit-field -->
                    </div> <!-- /.full-row -->


                </form> <!-- /.request-info -->
            </div> <!-- /.request-information -->
        </div> <!-- /.widget-item -->
    </div>

    <!-- clear fix -->

    <div class="col-md-12 pad-0">
        <div class="col-md-4 latest-div-news">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Latest News
                </div>

                <div class="panel-body scroll-div">
                    <ul id="ticker01">
                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">01</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">AP POLICE CONSTABLE PRELIMS
                                            SELECTIONS-1403</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">10</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">PANCHAYAT SECRETARY SPECIAL CLASSES
                                            SCHEDULE(GROUP- III)</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">11</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">SI OF POLICE-MAINS SPECIAL CLASSES FOR
                                            MATHS AND REASONING</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">14</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">SI OF POLICE-MAINS SPECIAL CLASSES AND
                                            EXPLANATIONS(REVISED)</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">20</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">AP POLICE CONSTABLE PRELIMS
                                            SELECTIONS-1403</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">24</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">PANCHAYAT SECRETARY SPECIAL CLASSES
                                            SCHEDULE(GROUP- III)</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">28</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">SI OF POLICE-MAINS SPECIAL CLASSES FOR
                                            MATHS AND REASONING</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">24</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">SI OF POLICE-MAINS SPECIAL CLASSES AND
                                            EXPLANATIONS(REVISED)</a></h5>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 latest-notify-news">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Latest Notifications
                </div>

                <div class="panel-body scroll-div">
                    <ul id="ticker01">
                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">01</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">AP POLICE CONSTABLE PRELIMS
                                            SELECTIONS-1403</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">10</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">PANCHAYAT SECRETARY SPECIAL CLASSES
                                            SCHEDULE(GROUP- III)</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">11</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">SI OF POLICE-MAINS SPECIAL CLASSES FOR
                                            MATHS AND REASONING</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">14</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">SI OF POLICE-MAINS SPECIAL CLASSES AND
                                            EXPLANATIONS(REVISED)</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">20</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">AP POLICE CONSTABLE PRELIMS
                                            SELECTIONS-1403</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">24</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">PANCHAYAT SECRETARY SPECIAL CLASSES
                                            SCHEDULE(GROUP- III)</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">28</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">SI OF POLICE-MAINS SPECIAL CLASSES FOR
                                            MATHS AND REASONING</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">24</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">SI OF POLICE-MAINS SPECIAL CLASSES AND
                                            EXPLANATIONS(REVISED)</a></h5>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 latest-results-news">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Latest Results
                </div>

                <div class="panel-body scroll-div">
                    <ul id="ticker01">
                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">01</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">AP POLICE CONSTABLE PRELIMS
                                            SELECTIONS-1403</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">10</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">PANCHAYAT SECRETARY SPECIAL CLASSES
                                            SCHEDULE(GROUP- III)</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">11</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">SI OF POLICE-MAINS SPECIAL CLASSES FOR
                                            MATHS AND REASONING</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">14</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">SI OF POLICE-MAINS SPECIAL CLASSES AND
                                            EXPLANATIONS(REVISED)</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">20</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">AP POLICE CONSTABLE PRELIMS
                                            SELECTIONS-1403</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">24</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">PANCHAYAT SECRETARY SPECIAL CLASSES
                                            SCHEDULE(GROUP- III)</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">28</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">SI OF POLICE-MAINS SPECIAL CLASSES FOR
                                            MATHS AND REASONING</a></h5>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="event-small-list clearfix">
                                <div class="calendar-small">
                                    <span class="s-month">Jan</span>
                                    <span class="s-date">24</span>
                                    <span class="s-year">2019</span>
                                </div>
                                <div class="event-small-details">
                                    <h5 class="event-small-title"><a href="#">SI OF POLICE-MAINS SPECIAL CLASSES AND
                                            EXPLANATIONS(REVISED)</a></h5>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="col-lg-12 our-success">
            <h3>Our Success</h3>
            <div class="swiper-container category-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://sreedharscce.com/images/students/ant/999214.jpg">
                        <h4> Rajesh </h4>
                        <p>SBI PO(2018)</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://sreedharscce.com/images/students/hyd/189076.jpg">
                        <h4> Naresh </h4>
                        <p>IBPS PO(2018)</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://sreedharscce.com/images/students/vij/711015.jpg">
                        <h4> Santhosh </h4>
                        <p>Groups II</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://sreedharscce.com/images/students/vij/675268.jpg">
                        <h4> Mahesh </h4>
                        <p>SI 2018</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://sreedharscce.com/images/students/nlr/119029.jpg">
                        <h4> Sunil </h4>
                        <p>SBI Clerk(2018)</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://sreedharscce.com/images/students/vij/672824.jpg">
                        <h4> Rajeev </h4>
                        <p>IBPS Clerk(2018)</p>
                    </div>

                </div>

                <!-- navigation buttons -->
                <div class="swiper-pagination"></div>


            </div>
        </div>
    </div>
</div> <!-- container end div -->

<app-footer></app-footer>
